.form-container {
    width: 50%; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #f8f9fa; 
    border-radius: 10px; 
}

.brand-logo {
    font-size:2rem;
    font-weight: bold;
    color: #308af1;
}
